.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
   
   background-color:rgb(249, 249, 249);
   padding: 20px;
   border-top: 1px solid gainsboro;
  margin-left: 20px;
}

.image img {
    width: 100%;

}

.desc {
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 10px;
    margin-top: 10px;
}





.c-1 img {
    width: 100%;
    border-radius: 100px;

}

.title {
    margin: 0;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
}

.channel-name,
.views-years {
    margin: 0;
    margin-bottom: 4px;
    font-size: 13px;
    color: rgb(96, 96, 96);
    font-family: Roboto, Arial, sans-serif;
}

.other {
    margin-top: 10px;
}

@media (max-width:800px){
   .video-grid{ grid-template-columns: 1fr 1fr;}
}

@media (min-width:1200px){
   .video-grid{ grid-template-columns: 1fr 1fr 1fr 1fr;}
}